.excel-table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;

    &__row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    &__row-info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
    }

    &__row-data {
        display: flex;
    }

    &__column {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        border-top: 0;
        border-left: 0;
        height: 100%;
    }

    &__col-resize, &__row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $primary-color;
        opacity: 0;
        z-index: 1000;

        &:hover, &:active {
            opacity: 1;
        }

        &::after {
            content: "";
            display: block;
            position: relative;
            background: $primary-color;
        }
    }

    &__col-resize {
        top: 0;
        width: 4px;

        &:hover, &:active {
            cursor: col-resize;
        }

        &::after {
            left: 4px;
            height: 100vh;
            width: 1px;
        }
    }

    &__row-resize {
        left: 0;
        height: 4px;

        &:hover, &:active {
            cursor: row-resize;
        }

        &::after {
            top: 4px;
            width: 100vw;
            height: 1px;
        }
    }

    &__cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: 0;
        border-left: 0;
        color: #111;
        white-space: nowrap;
        outline: none;


        &.selected {
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
        }
    }
}
